 /* atmosfera */
 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0e0e0e;
    margin: 0;
    overflow: hidden;
  }
  
  /* chesite */
  .rank-icon::before,
  .rank-icon::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 150px;
    background: linear-gradient(145deg, #b26edc, #c13fd4);
    border-radius: 50%;
    transform: rotate(60deg);
    box-shadow: 0px 0px 10px 2px #c13fd4;
    animation: wing-glow 3s infinite alternate;
  }
  
  .caca1, .caca2{
    content: '';
    position: relative;
    width: 70px;
    height:100px;
    background: linear-gradient(145deg, #904bbc, #c13fd4);
    border-radius: 50%;
    transform: rotate(60deg);
    box-shadow: 0px 0px 10px 2px #c13fd4;
    animation: pulse 3s infinite alternate;

  }

  /* aripa scurta stanga */
  .caca1 {
      left: -230px;
      top: -60px;
      /*transform: rotate(-20deg);*/
      animation: pulse-rotate-left 3s infinite alternate;
    }

    /* aripa scurta dreapta */
  .caca2 {
      right: 65px;
      top: -60px;
      /*transform: rotate(20deg);*/
      animation: pulse-rotate-right 3s infinite alternate;
    }


  /* Lef */
  .rank-icon::before {
    left: -70px;
    top: -20px;
    transform: rotate(-40deg);
  }

  /* aripa lunga dreapta */
  .rank-icon::after {
    right: -70px;
    top: -20px;
    transform: rotate(40deg);
  }
  .rank-icon {
      position: relative;
      width: 150px;
      height: 150px;
      background: linear-gradient(145deg, #8448cf, #d13cda);
      border-radius: 50%;
      box-shadow: 15px #d13cda, inset 10px #8448cf;
      animation: pulse 3s infinite alternate;
    }

  /* puuls */
  @keyframes pulse {
    from {
      transform: scale(1);
      box-shadow: 0px 0px 15px 5px #d13cda, inset 0px 0px 10px 5px #8448cf;
    }
    to {
      transform: scale(1.05);
      box-shadow: 0px 0px 25px 10px #d13cda, inset 0px 0px 15px 7px #8448cf;
    }
  }

  /* gluin OO: */
  @keyframes wing-glow {
    from {
      box-shadow: 0px 0px 10px 2px #c13fd4;
    }
    to {
      box-shadow: 0px 0px 20px 6px #d13cda;
    }
  }
  
  @keyframes pulse-rotate-left {
      from {
        transform: rotate(-20deg) scale(1);
      }
      to {
        transform: rotate(-20deg) scale(1.1);
      }
    }
    @keyframes pulse-rotate-right {
      from {
        transform: rotate(20deg) scale(1);
      }
      to {
        transform: rotate(20deg) scale(1.1);
      }
    }